.snippet-card {
  padding: 0 12px;
}

.modal {
  z-index: 1100;
  text-align: center;
}

#snippets-list {
  margin-top: 72px;

  #search-buttons {
    position: fixed;
    top: 82px;
    left: 27.5%;
    width: 71.5%;
    z-index: 800;
    background-color: white;
  }

  .snippets {
    position: relative;
    top: 54px;
  }
}

.no-snippet {
  text-align: center;
  h1 {
    margin-top: 100px;
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

#search {
  width: 87%;
}

#buttons {
  position: fixed;
  top: 72px;
  right: 2.3%;

  #preferences {

  }
}
